.step-container {
  border: 1px solid #000;
  background-color: #eee;
}

.step-header {
  display: flex;
  color: #000;
  font-size: 3rem;
  border-bottom: 1px solid #000;
}

.step-number {
  font-size: 3rem;
  width: 80px;
  text-align: center;

  padding: 12px 0;
  border-right: 1px solid #000;
  background-color: #eee;
}

.step-title {
  font-size: 3rem;
  padding: 12px;
  flex: 1;
  background-color: #eee;
}

.step-description {
  padding: 12px 30px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #111;
  line-height: 1.5;
  background-color: #eee;
}
