.chips-container {
  padding: 6px 10px;
  color: rgb(196 196 196 /1);
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
  height: 23px;
  text-align: center;
  justify-content: center;
  background-color: rgb(39 39 39 /1);
  border-radius: 26px;
}
