.hero-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}

.hero-left {
  overflow: hidden;
  width: 100%;
}

.hero-left h1 span {
  letter-spacing: -3px;
}
.hero-line {
  display: block;
  transform: translateY(100%);
  opacity: 0;
}

.hero-content h1 {
  display: flex;
  flex-direction: column;
  gap: 0;
  letter-spacing: 1px;
  font-size: clamp(3rem, 20vw, 11rem);
}

span {
  line-height: 95%;
  font-weight: 400;
  letter-spacing: 0;
}

.text-brand-red {
  color: var(--text-brand-red);
}

.hero-right {
  padding: 0px 20px;
  width: 100%;
  max-width: 570px;
}

.hero-right p {
  animation: slideUpFade 1s ease-out 0.6s forwards;
  font-family: var(--font-body);
  text-align: left;
  line-height: 1.6;
  font-size: clamp(0.95rem, 2vw, 1.1rem);
  letter-spacing: 0.5px;
}

/* Animation keyframes */
.hero-line:nth-child(1) {
  animation: slideUpFade 1s ease-out 0.2s forwards;
  color: var(--text-color);
}

.hero-line:nth-child(2) {
  animation: slideUpFade 1s ease-out 0.4s forwards;
  color: var(--text-color);
}

.hero-line:nth-child(3) {
  animation: slideUpFade 1s ease-out 0.6s forwards;
  color: var(--text-brand-red);
}

.right-description {
  font-size: clamp(2rem, 8vw, 3.5rem);
}
.section-one {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-between;
  margin-top: 10rem;

  margin-left: 2rem;
  margin-right: 1rem;
  gap: 40px;
}

.section-one,
.section-two {
  display: flex;
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 1rem;
  color: var(--text-color);
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.left {
  position: sticky;
  top: 4rem; /* offset from top */
  align-self: start;
  flex: 1;
  background-color: rgb(0, 0, 0);
  color: white;
}

.right {
  flex: 2;
  max-width: 840px;
}

.left h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 400;
  letter-spacing: 4px;
}
.description {
  max-width: 400px;
}
.section-one .right,
.section-two .right {
  width: 100%;
  max-width: 840px;
  margin-right: 20px;
}

.donation-btn {
  margin-top: 3rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.declarartion-section {
  margin-top: 2rem;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .hero-content h1 {
    text-align: left;
    font-size: clamp(5rem, 8vw, 6rem);
  }

  .hero-right {
    width: 100%;
    padding: 1rem;
  }

  .section-one,
  .section-two {
    flex-direction: column;
    margin: 5rem 1rem 0;
  }

  .left {
    position: static;
    width: 100%;
    text-align: center;
  }
  #latest-content {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .main-content {
    padding: 0px !important;
  }
  .left h2 {
    text-align: left;
    padding-left: 0.5rem;
  }
}

.emergency-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
  justify-content: center;
  background-color: #fff;
}

.latest-container-section {
  display: flex;
  gap: 30px;
  margin-top: 3rem;
  padding: 0 1rem;
}
.subscribe-btn {
  border-radius: 30px;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.status p {
  font-size: 0.75rem;
}
#declaration {
  margin-top: 15rem;
  padding-top: 10rem;
}

.description {
  margin-top: 20px;
  font-size: 4rem;
}
#right-part p {
  font-size: 1rem;
}
.description p {
  font-size: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 40px;
}

.form-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  font-size: clamp(0.9rem, 2vw, 1rem);
}
.d-logo {
  display: inline-block;
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 1;

  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}
