.accordion-item {
  border-top: 1px solid #555;
  padding: 1rem 0 35px 0px;
  color: white;
  background-color: black;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
  font-style: normal;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}

.accordion-header:hover {
  color: #ccc;
}

.accordion-content-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 0;
}

.accordion-content-wrapper.open {
  max-height: 500px; /* adjust this to accommodate your content */
}

.accordion-content {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}
